# MySQL Configuration
MYSQL_ROOT_PASSWORD=your_password_here
MYSQL_DATABASE=wordpressdb

# WordPress Configuration
WORDPRESS_DB_USER=root
WORDPRESS_DB_PASSWORD=your_password_here
WORDPRESS_DB_NAME=wordpressdb
WORDPRESS_DB_HOST=db
